/* Light */
@font-face {
    font-family: 'Neue Haas Grotest';
    src: url('../fonts/NHaasGroteskDSPro-45Lt.otf') format('opentype');
    font-weight: 300;
}

/* Regular */
@font-face {
    font-family: 'Neue Haas Grotest';
    src: url('../fonts/NHaasGroteskDSPro-55Rg.otf') format('opentype');
    font-weight: 400;
}

/* Medium */
@font-face {
    font-family: 'Neue Haas Grotest';
    src: url('../fonts/NHaasGroteskDSPro-65Md.otf') format('opentype');
    font-weight: 500;
}

/* Semi Bold */
@font-face {
    font-family: 'Neue Haas Grotest';
    src: url('../fonts/NHaasGroteskDSPro-65Md.otf') format('opentype');
    font-weight: 600;
}

/* Bold */
@font-face {
    font-family: 'Neue Haas Grotest';
    src: url('../fonts/NHaasGroteskDSPro-75Bd.otf') format('opentype');
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Neue Haas Grotest", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.main {
    overflow-x: hidden;
    overflow-y: hidden;
}


.horizontal-sliders {
    display: flex;
    /* flex-wrap: no-wrap;
    width: 7593px; */
    /* overflow-x: hidden; */
}

.slide {
    height: 100%;
    position: relative;
    z-index: 5;
}

/* ------------Nav Menu---------- */
.main {
    position: relative;
}

.hamburger {
    position: absolute;
    top: 66px;
    right: 58px;
    z-index: 20;
    cursor: pointer;
}

.icon {
    position: absolute;
    top: 60px;
    left: 60px;
    z-index: 20;
    cursor: pointer;
}

.menu {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.menu.show {
    display: block;
    opacity: 1;
}

.menu.hide {
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* .menu-content {
    background-color: #fefefe;
    margin: auto;
    padding: 100px 96px;
    border: 1px solid #888;
    height: 100vh;
} */

.menu-content {
    background-color: #fefefe;
    margin: auto;
    padding: 100px 96px;
    border: 1px solid #888;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 66px;
    right: 60px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.menu-design {
    position: relative;
    height: 880px;
    width: 866px;
}

.menu-bg {
    position: absolute;
    z-index: 9;
}

.menu-logo {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-list {
    margin-left: 150px;
    margin-top: 80px;
}

.gap-in-icon {
    margin: 0 25px;
}

.menus ul {
    list-style: none;
    padding: 0;
}

.menus ul li {
    font-family: "Neue Haas Grotest", sans-serif;
    font-size: 75px;
    font-weight: 700;
    margin-bottom: 30px;
}

.menus ul li ul {
    padding: 0;
}

.menus ul li ul li {
    margin: 0;
    padding: 0;
    font-family: "Neue Haas Grotest", sans-serif;
    font-size: 21px;
    font-weight: 300;
    text-decoration: none;

}

.menus ul li a {
    text-decoration: none;
    color: #24282A;
}

.menus ul li ul li a {
    text-decoration: none;
    color: #24282A;
}

.social-link {
    padding: 0;
}

.spacings {
    padding: 80px 0 110px 0;
}

.social-link a {
    font-size: 20px;
    color: #24282A;
    text-decoration: none;
    font-weight: 300;
}

.number01,
.number02,
.number03 {
    position: relative;
}

.number01::before,
.number02::before,
.number03::before {
    font-family: "Neue Haas Grotest", sans-serif;
    font-weight: 300;
    font-style: light;
    font-size: 22px;
    color: #E30046;
    top: 6px;
    left: -40px;
    position: absolute;
}

.number01::before {
    content: "01";
}

.number02::before {
    content: "02";
}

.number03::before {
    content: "03";
}

/* ------------Home Page--------------- */
.firstpage {
    width: 1920px;
    display: flex;
    height: 100vh;
    background: #fff;

}

.starting {
    position: relative;
    margin: 100px;
}

.work-bg {
    width: 700px;
    height: 100%;
}

.work-head {
    position: absolute;
    top: 50%;
    left: 365px;
    width: 815px;
    height: 416px;
    transform: translateY(-50%);
}

.work-head .heading {
    font-family: "Neue Haas Grotest", sans-serif;
    font-size: 90px;
    font-weight: light;
    color: #24282A;
    line-height: 120px;
}

.work-head .sub-heading {
    font-family: "Neue Haas Grotest", sans-serif;
    font-size: 90px;
    font-weight: bold;
    color: #E30046;
    line-height: 120px;
}

.work-head .sub-heading span {
    font-weight: bold;
}

.work-head .lines {
    margin: 45px 0;
}

.work-head .info-text {
    font-family: "Neue Haas Grotest", sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 44px;
    color: #24282A;
    width: 600px;
}

.work-head .track {
    margin-top: 40px;
    font-weight: 400;
    letter-spacing: 6.5px;
    text-transform: uppercase;
}

.home-bg-scroll {
    height: 880px;
    position: absolute;
    top: 50%;
    left: 765px;
    transform: translateY(-50%);
}

.scroll-button {
    position: absolute;
    left: 1425px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
}

.scroll-btn.scroll-link {
    margin-top: 45px;
}

.blank {
    width: 500px;
}

/* ---------About Pages------------- */


/* ----------Last Page----------- */
.lastpage {
    width: 2260px;
    height: 100vh;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    position: relative;
}

.lpbg {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('../images/home-end-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.bracked {
    position: absolute;
    left: -60px;
    z-index: 10;
}

.greating {
    display: flex;
    align-items: center;
    justify-content: center;
}

.email {
    font-size: 120px;
    font-weight: bold;
    font-family: "Neue Haas Grotesk", sans-serif;
    position: absolute;
    left: 600px;
}

.outline {
    color: transparent;
    -webkit-text-stroke: 2px black;
    margin-right: -20px;
    z-index: 1;
    position: relative;
}

.highlight {
    color: #E30046;
    position: relative;
    z-index: 0;
    margin-left: -30px;
}

.lpline {
    width: 600px;
    height: 2px;
    background-color: #E30046;
    margin: 20px 0;
    position: absolute;
    left: 600px;
    bottom: 330px;
}

.contact-text {
    color: #24282A;
    font-family: "Neue Haas Grotest", sans-serif;
    font-weight: 300;
    font-size: 63px;
    position: absolute;
    left: 600px;
    bottom: 260px;
}

.subtext-contact {
    display: flex;
    align-items: center;
    font-size: 26px;
    font-weight: bold;
    gap: 0 10px;
    left: 600px;
    position: absolute;
    bottom: 227px;
}

.positions {
    left: 600px;
    position: absolute;
    bottom: 100px;
}

/* ----------Industries------------ */
.industry {
    width: auto;
    height: 100vh;
    display: flex;
    align-items: center;
    /* opacity: 0.2; */
    /* margin-left: 100px; */
}

.industry-intro {
    position: relative;
    width: 2700px;
}

.industry-intro .initaial-bg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.industry-intro .info {
    position: absolute;
    left: 90px;
    top: 50%;
    height: 570px;
    width: 400px;
    transform: translateY(-50%);
    margin-top: 15px;
}

.dot-line {
    position: absolute;
}

.work-text-info {
    margin-left: 65px;
    margin-top: -10px;
}

.work-text-info p {
    font-family: "Neue Haas Grotesk", sans-serif;
    font-size: 22px;
    color: #24282A;
    line-height: 45px;
    width: 645px;
}

.work-line {
    margin-left: 65px;
    margin-top: 30px;
}

.hero-images {
    position: absolute;
    left: 1050px;
    top: 50%;
    transform: translateY(-50%);
}

.industry-data {
    position: relative;
    width: 1545px;
    height: 880px;
    padding: 70px 70px 70px 20px;
}

.list-data {
    display: flex;
    gap: 315px;
}

.category-list {
    display: flex;
    flex-direction: column;
}

.item-title {
    margin-bottom: 50px;
}

.cat-list {
    display: flex;
    flex-direction: column;
}

.custom-btn {
    position: relative;
    margin-bottom: 8px;
}

.bg-image-btn {
    position: relative;
}

.cat-number {
    color: #E30046;
    font-size: 20px;
}

.btn-text {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 362px;
    height: 55px;
    background: #fff;
    filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.1));
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
    padding: 15px;
}

.btn-active {
    background: #E30046;
    color: #fff;
}

.btn-active .cat-number {
    color: #fff;
}

.btn-text:hover {
    background: #E30046;
    color: #fff;
}

.btn-text:hover .cat-number {
    color: #fff;
}

.data-to-show {
    position: relative;
    width: 100%;
}

.industry-data .initaial-bg {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: -1;
}

.item-info {
    margin-left: 70px;
}

.item-itles {
    font-size: 14px;
    color: #E30046;
    letter-spacing: 6.5px;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 55px;
}

.item-infos {
    font-family: "Neue Haas Grotesk", sans-serif;
    font-size: 22px;
    color: #24282A;
    width: 295px;
    line-height: 44px;
    font-weight: 400;
}

.item-numbers {
    position: absolute;
    left: 60px;
    font-size: 55px;
    font-weight: 900;
    bottom: 0px;
    color: transparent;
    -webkit-text-stroke: 2px #E30046;
    text-stroke: 2px #E30046;
}

/* ----------Team Studio------------ */
.browse-studio {
    width: auto;
    height: 100vh;
    display: flex;
    align-items: center;
}

.browse {
    position: relative;
    width: 800px;

}

.frist-studios-container {
    position: absolute;
    top: 50%;
    left: 137px;
    transform: translateY(-50%);
    display: flex;
    background: #fff;
    border-radius: 5px;
    height: 880px;
}

.studio-text {
    width: 842px;
}

.studio-texts {
    width: 305px;
    font-size: 22px;
    line-height: 44px;
    color: #24282A;
    text-align: end;
    font-weight: 400;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}

.dot-lines-studios {
    right: 0;
    position: absolute;
    top: 135px;
}

.team-title {
    position: absolute;
    right: 0;
    top: 211px;
}

.team-title .t1 {
    font-size: 44px;
    color: #24282A;
}

.team-title .t2 {
    font-weight: 700;
    font-size: 44px;
    color: #E30046;
}

.texts {
    position: absolute;
    right: 0;
    top: 340px;
}

/* -----------Team--------- */

.all-studio-container {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    width: 2790px;
    height: 880px;
    background: #fff;
    padding: 65px 0;
}

.team-grid-container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(2, 343px);
    row-gap: 55px;
    z-index: 3;
}

.team-grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border: 1px solid #ccc;
    width: 283px;
    height: 343px;
    border-radius: 5px;
    position: relative;
}

.team-grid-item:nth-child(n + 10) {
    margin-left: 55px;
}

.team-grid-item:hover {
    cursor: pointer;
}

.team-grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 5px;
}

.team-grid-item .name {
    position: absolute;
    bottom: 10px;
    right: 15px;
    color: #fff;
    font-weight: 300;
    font-size: 25px;
    z-index: 1;
    text-transform: uppercase;
}

.team-grid-item::after {
    content: "";
    position: absolute;
    width: 90%;
    height: 2px;
    background: #E30046;
    right: 0px;
    bottom: 22px;
}

.team-grid-item .overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(227, 0, 70, 0.80);
    border-radius: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.4s ease;
    text-align: center;
    z-index: 3;
}

.team-grid-item:hover .overlay {
    opacity: 1;
}

.team-grid-item .overlay h2 {
    font-size: 39px;
    font-weight: 900;
    margin: 0;
    padding: 0;
}

.team-grid-item .overlay .position {
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 8px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.team-grid-item .overlay span {
    margin: 20px 0;
}

.team-grid-item .overlay p {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 19px;
    font-weight: 400;
}

.team-grid-item .overlay .hover-name {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 20px;
}